<div class="container">
  <h1 class="row justify-content-around">FTSE 100 Calculator</h1>
  <%= form_with(url: '/stocks/show', method: 'get') do %>
    <%= label_tag("Enter your investment amount:") %>
    <%= text_field_tag(:investment_amount) %>
    <%= submit_tag("Submit") %>
  <% end %>

  <% @stocks.each do |stock| %>
    <ul><%= stock.name %> -> market cap: <%= stock.market_cap %> (<%= stock.market_percentage.round(4) %>%)</ul>
  <% end %>
</div>
