<h1>This is the index</h1>

<% @prices.each do |price| %>
  <li><%= price %></li>
<% end %>

<p><%= @stocks %></p>
<%= @names %>
<%= @prices %>
<%= @percentage_changes %>

<% raise %>



<%= link_to 'create stock', new_stock_path %>

