<div class="container">
  <h1 class="row justify-content-around">FTSE 100 Calculator</h1>
  <form action="#">
    <div class="form-group">
      <input type="text" id="textArea">
      <input type="submit" id="submit">
    </div>
  </form>

  <p>HERE IS AMOUNT: <%= @total_amount %></p>

  <% @stocks.each do |stock| %>
    <ul><%= stock.name %> -> <%= stock.market_cap %> (<%= stock.market_percentage %>%) ----- Invest: <%= stock.investment_amount %></ul>
  <% end %>
</div>
