<h1>This is the index</h1>

<% @stocks.each do |stock| %>
  <p><%= stock.name %></p>
<% end %>

<p><%= @stocks %></p>
<%= @names %>
<%= @prices %>
<% raise %>




<%= link_to 'create stock', new_stock_path %>

