<div class="container">
  <h1 class="row justify-content-around">FTSE 100 Calculator</h1>
  <%= form_tag action: 'index' %>
  <%= text_area :form, :amount, cols: '40', rows: '5' %>
  <%= submit_tag 'submit' %>

  <p>HERE IS AMOUNT: <%= @total_amount %></p>

  <% @stocks.each do |stock| %>
    <ul><%= stock.name %> -> <%= stock.market_cap %> (<%= stock.market_percentage %>%) ----- Invest: <%= stock.investment_amount %></ul>
  <% end %>
</div>
